@mixin flex($d) {
  display: flex;
  flex-direction: $d;
}

@mixin customScrollBar {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);
    opacity: 0;
    visibility: hidden;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185);
    border-radius: 18px;
    opacity: 0;
    visibility: hidden;
  }
}
