@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap");
$josefin: "Josefin Sans", sans-serif;
@import "color";
@import "mixin";
@import "main";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: $josefin;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
